<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MKKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA6DF315138DCE0B0091B912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6DF367138DD8C40091B912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6DF382138DDF410091B912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6DF396138DE06B0091B912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6DF3AC138DE1760091B912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6DF3C2138DE3940091B912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6DF3FE138E06040091B912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA7EFCED10FFE8E900B4C1BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAA5A1AA1345589C00D2C23F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAA97EF613916A4F009EBCDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
